# TABLE OF CONTENTS
### 01. Importing Libraries
### 02. Importing data
### 03. Task

# 01. Import Libraries

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra
import os
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import scipy

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/orders-products/orders_products_combined.pkl
/kaggle/input/products-checked/products_checked.csv

# 02. Importing data

In [2]:
# merged dataframe
df_ords_prods = pd.read_pickle('/kaggle/input/orders-products/orders_products_combined.pkl')

In [3]:
# products dataframe
df_prods = pd.read_csv(('/kaggle/input/products-checked/products_checked.csv'), index_col = False)

In [4]:
# Dataframes in this notebook
    # df_ords_prods - inner merge of df_ords_prior and df_ords
    # df_prods
# export prepared dataset
# df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [6]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
# dropping unnecessary columns before merging - Unnamed
df_prods = df_prods.drop(columns = 'Unnamed: 0')

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# dropping _merge columns to avoid error
df_ords_prods = df_ords_prods.drop(columns = '_merge')

In [10]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [11]:
df_ords_prods.shape

(32434489, 10)

In [12]:
df_prods.shape

(49672, 5)

# 03. Task

## Step 5 - Most suitable way to merge the dataframes here is via product_id column. The column has almost the same count on unique values, so inner join would not generate a data loss issue

In [13]:
df_ords_prods['product_id'].nunique()

49677

In [14]:
df_prods['product_id'].nunique()

49670

In [15]:
# merge without overwriting to check the code
pd.merge(df_ords_prods,df_prods, on = 'product_id', indicator = True)

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,False,14197,5,1,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,13,1,12,7.0,False,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,13,1,12,7.0,False,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,13,1,12,7.0,False,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,13,1,12,7.0,False,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [16]:
# actual merge of the dataframes
df_ords_prods_merge = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)

In [17]:
df_ords_prods_merge.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [18]:
# Step 6 - verify using merging flag
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [19]:
df_ords_prods_merge.shape

(32404859, 15)

#### merged succesfull. shape shows correct number of columns and rows

In [20]:
# export new merged df to pickle
df_ords_prods_merge.to_pickle('orders_prior_products_merge.pkl')