# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
path = r'C:\Users\gabri\OneDrive\Desktop\CF Data Analysys Course\Data Analytics Immersion\A4 Achivement\Instacart Basket Analysis'

In [5]:
# merged dataframe
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [9]:
# products dataframe
dfprods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [12]:
# Dataframes in this notebook
    # df_ords_prods - inner merge of df_ords_prior and df_ords
    # df_prods
# export prepared dataset
# df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [8]:
df_ords_prods.shape

(32434489, 11)

In [10]:
df_prods = dfprods

In [11]:
df_prods.shape

(49672, 6)

In [13]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [14]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
# dropping unnecessary columns before merging - Unnamed
df_prods = df_prods.drop(columns = 'Unnamed: 0')

In [16]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [17]:
df_prods.shape

(49672, 5)

#### Step 5 - Most suitable way to merge the dataframes here is via product_id column. The column has almost the same count on unique values, so inner join would not generate a data loss issue

In [22]:
df_ords_prods['product_id'].nunique()

49677

In [23]:
df_prods['product_id'].nunique()

49670

In [26]:
# dropping _merge columns to aovid error
df_ords_prods = df_ords_prods.drop(columns = '_merge')

In [27]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [29]:
# merge without overwriting to check the code
pd.merge(df_ords_prods,df_prods, on = 'product_id', indicator = True)

MemoryError: Unable to allocate 1.93 GiB for an array with shape (8, 32404859) and data type int64