# TABLE OF CONTENTS
### 01. Importing Libraries
### 02. Importing Data
### 03. Work from Exercise
### 04. Task

# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
path = r'C:\Users\gabri\OneDrive\Desktop\CF Data Analysys Course\Data Analytics Immersion\A4 Achivement\Instacart Basket Analysis'

In [5]:
# ords prods merge - downcasted
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prior_products_merge_downcasted.pkl'))

In [6]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [7]:
# creating subset
df_ords_prods_subset = df_ords_prods[:1000000]

In [10]:
df_ords_prods_subset.shape

(1000000, 15)

In [87]:
# dataframes in this notebook
    # df_ords_prods
    # df_ords_prods_subset - with the first 1000000 rows
    # rows_with_max_price - subset with items with the max price

# 03. Work from Exercise

In [68]:
# creating user defined if statement
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [15]:
df_ords_prods_subset['price_range'] = df_ords_prods_subset.apply(price_label, axis=1)

C:\Users\gabri\AppData\Local\Temp\ipykernel_9244\1975923824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ords_prods_subset['price_range'] = df_ords_prods_subset.apply(price_label, axis=1)

In [16]:
df_ords_prods_subset['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [17]:
df_ords_prods_subset['prices'].max()

99999.0

In [18]:
df_ords_prods_subset.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price range,price_range
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Mid-range product
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Mid-range product
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Low-range product
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Low-range product
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Low-range product

In [20]:
df_ords_prods_subset.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product

In [28]:
df_ords_prods_subset['prices'].describe

<bound method NDFrame.describe of 0          9.0
1         12.5
2          4.4
3          4.7
4          1.0
          ...
999995    12.9
999996     7.3
999997     3.5
999998     6.8
999999     2.9
Name: prices, Length: 1000000, dtype: float32>

In [29]:
(df_ords_prods_subset['prices'] == 99999).any()

np.True_

In [30]:
(df_ords_prods_subset['prices'] == 99999).sum()

np.int64(15)

In [32]:
(df_ords_prods_subset['price_range'] == 'High range').sum()

np.int64(12425)

In [33]:
df_ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   order_id                 int32
 1   user_id                  int32
 2   order_sequence_per_user  int32
 3   orders_day_of_week       int8
 4   order_hour_of_day        int8
 5   days_since_prior_order   float32
 6   new_customer             bool
 7   product_id               int32
 8   add_to_cart_order        int32
 9   reordered                int8
 10  product_name             object
 11  aisle_id                 int32
 12  department_id            int32
 13  prices                   float32
 14  _merge                   category
dtypes: bool(1), category(1), float32(2), int32(7), int8(3), object(1)
memory usage: 1.5+ GB

In [74]:
# creating .loc statement part I - subset
df_ords_prods_subset.loc[df_ords_prods_subset['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [75]:
# creating .loc statement part II - subset
df_ords_prods_subset.loc[(df_ords_prods_subset['prices'] <= 15) & (df_ords_prods_subset['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [76]:
# creating .loc statement part III - subset
df_ords_prods_subset.loc[df_ords_prods_subset['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [72]:
df_ords_prods_subset['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     673183
Low-range product     314392
High-range product     12425
Name: count, dtype: int64

In [73]:
df_ords_prods_subset.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Mid-range product
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Mid-range product
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Low-range product
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Low-range product
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Low-range product

In [78]:
# creating .loc statement part I - complete dataframe
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [79]:
# creating .loc statement part II - complete dataframe
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [80]:
# creating .loc statement part III - complete dataframe
df_ords_prods.loc[df_ords_prods['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [81]:
df_ords_prods['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [55]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product

In [59]:
df_ords_prods['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [61]:
result = []

for value in df_ords_prods["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [65]:
df_ords_prods['busiest_day'] = result

In [66]:
df_ords_prods['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [84]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy

# 04. Task

In [121]:
# creating new list with the 2 businest days and 2 lowers
results = []

for value in df_ords_prods["orders_day_of_week"]:
  if value in (0, 1):
    results.append("Busiest day")
  elif value in (3, 4):
    results.append("Least busy")
  else:
    results.append("Regularly busy")

In [137]:
# creating the new column requested
df_ords_prods['busiest_days'] = results

In [125]:
# count old column
df_ords_prods['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [138]:
# count new column
df_ords_prods['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

### Step 3: numbers updated. Businest days and least busy numbers are higher than before. Regularly busy is lower than before

In [132]:
# drop of old column
df_ords_prods = df_ords_prods.drop(columns = ['busiest_day'])

### Step 4: I think it is missing the volume of orders that the TO considers to be high ot low to be able to create a proper loop. Without this, I have 2 options: create a hardcoded loop that has equal number of hours (8) per period or, I arbitrarily define what I think it is low/high so this code can be run in the future and reupdate the dataframe with the updated labels for the hours (based on the count of orders). I tried to do the second option due to reusability, but I did not managed to do, so I just did the hardcoded one with the hours

In [136]:
# Frequency on the hours of the days
df_ords_prods['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

##### Decided for top 5 and lower 5 as most order and fewer orders threshold (10, 11, 14, 15 and 13 as highest and 3, 4, 2, 5 and 1 as lowest). The rest is average

In [178]:
# creating the loop
busy_hours = []

for value in df_ords_prods['order_hour_of_day']:
  if value in (10, 11, 14, 15, 13):
    busy_hours.append('Most orders')
  elif value in (3, 4, 2, 5, 1):
    busy_hours.append('Fewest orders')
  else:
    busy_hours.append('Average orders')

In [181]:
# creating the new column requested
df_ords_prods['busiest_periods_of_day'] = busy_hours

In [183]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_periods_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders

In [184]:
# frequency busiest_period_of_day
df_ords_prods['busiest_periods_of_day'].value_counts(dropna = False)

busiest_periods_of_day
Average orders    18517166
Most orders       13510134
Fewest orders       377559
Name: count, dtype: int64

In [188]:
df_ords_prods.dtypes

order_id                      int32
user_id                       int32
order_sequence_per_user       int32
orders_day_of_week             int8
order_hour_of_day              int8
days_since_prior_order      float32
new_customer                   bool
product_id                    int32
add_to_cart_order             int32
reordered                      int8
product_name                 object
aisle_id                      int32
department_id                 int32
prices                      float32
_merge                     category
price_range_loc              object
busiest_days                 object
busiest_periods_of_day       object
dtype: object

In [190]:
# export prepared dataset
df_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_prior_products_merge_downcasted_derived.pkl'))

## Investigation on the Max prices

In [192]:
# investigation on the max price 
max_price = df_ords_prods['prices'].max()

# filter rows with the maximum price
rows_with_max_price = df_ords_prods[df_ords_prods['prices'] == max_price]

In [193]:
rows_with_max_price

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_periods_of_day
128911,183964,873,3,0,10,7.0,False,33664,11,0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Busiest day,Most orders
128924,1851256,873,4,6,12,13.0,False,33664,8,1,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Regularly busy,Average orders
284218,1915696,1893,1,5,17,NaN,True,33664,10,0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Regularly busy,Average orders
284229,2763293,1893,2,4,16,13.0,False,33664,6,1,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Least busy,Average orders
284252,2564805,1893,4,1,17,30.0,False,33664,3,1,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Busiest day,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32079919,2249946,204099,29,0,8,4.0,False,33664,1,0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Busiest day,Average orders
32079936,2363282,204099,31,0,9,2.0,False,33664,1,1,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Busiest day,Average orders
32125745,3181945,204395,13,3,15,8.0,False,33664,25,0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Least busy,Most orders
32255078,2486215,205227,7,3,20,4.0,False,33664,8,0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Least busy,Average orders
32255132,2232716,205227,10,0,11,4.0,False,33664,23,1,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Busiest day,Most orders

In [198]:
rows_with_max_price['prices'].value_counts()

prices
99999.0    698
Name: count, dtype: int64

In [199]:
df_ords_prods.loc[df_ords_prods['product_id'] == 33664, 'prices'] = 9.2

In [201]:
df_ords_prods['prices'].value_counts()

prices
12.300000    624261
10.300000    510496
4.000000     447272
6.300000     438467
1.300000     425691
              ...
20.200001       123
22.700001        99
21.500000        85
18.299999        11
21.000000         8
Name: count, Length: 241, dtype: int64

In [202]:
df_ords_prods['prices'].max()

14900.0

In [204]:
# creating .loc statement part I - complete dataframe
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [205]:
# creating .loc statement part II - complete dataframe
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [206]:
# creating .loc statement part III - complete dataframe
df_ords_prods.loc[df_ords_prods['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [207]:
df_ords_prods['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21861558
Low-range product     10126321
High-range product      416980
Name: count, dtype: int64

In [208]:
df_ords_prods.loc[df_ords_prods['product_id'] == 33664]

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_periods_of_day
128911,183964,873,3,0,10,7.0,False,33664,11,0,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Busiest day,Most orders
128924,1851256,873,4,6,12,13.0,False,33664,8,1,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Regularly busy,Average orders
284218,1915696,1893,1,5,17,NaN,True,33664,10,0,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Regularly busy,Average orders
284229,2763293,1893,2,4,16,13.0,False,33664,6,1,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Least busy,Average orders
284252,2564805,1893,4,1,17,30.0,False,33664,3,1,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Busiest day,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32079919,2249946,204099,29,0,8,4.0,False,33664,1,0,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Busiest day,Average orders
32079936,2363282,204099,31,0,9,2.0,False,33664,1,1,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Busiest day,Average orders
32125745,3181945,204395,13,3,15,8.0,False,33664,25,0,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Least busy,Most orders
32255078,2486215,205227,7,3,20,4.0,False,33664,8,0,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Least busy,Average orders
32255132,2232716,205227,10,0,11,4.0,False,33664,23,1,2 % Reduced Fat Milk,84,16,9.2,both,Mid-range product,Busiest day,Most orders

In [209]:
# export the dataset with corrected price for 33664
df_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_prior_products_merge_downcasted_derived-correted.pkl'))