# TABLE OF CONTENTS
### 01. Importing Libraries
### 02. Importing Data
### 03. Work from Exercise
### 04. Task

# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
path = r'C:\Users\gabri\OneDrive\Desktop\CF Data Analysys Course\Data Analytics Immersion\A4 Achivement\Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prior_products_merge_downcasted_derived_correted.pkl'))

In [4]:
ords_prods_merge.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_periods_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders

In [5]:
ords_prods_merge.shape

(32404859, 18)

In [85]:
# dataframes in this notebook
    # ords_prods_merge - corrected prices one from 4.7
    # df - subset of first 1MM rows of ords_prods_merge

# 03. Work from Exercise

In [7]:
# creating subset with the first 1MM rows
df = ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 18)

In [9]:
df.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_periods_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders

In [16]:
# learning how to use .groupby
df.groupby('product_name')

In [18]:
# calculating the average of orders per department id
df.groupby('department_id').agg({'order_sequence_per_user': ['mean']})

              order_sequence_per_user
                                 mean
department_id
1                           14.800024
2                           17.091743
3                           17.913544
4                           17.893092
5                           15.214270
6                           15.382135
7                           17.694027
8                           16.458105
9                           15.957363
10                          20.091818
11                          16.482026
12                          15.615061
13                          16.484023
14                          17.524632
15                          15.691875
16                          18.014071
17                          16.150593
18                          19.602850
19                          17.631340
20                          17.138607
21                          21.956893

In [19]:
# calculating the average of orders per department id (another way with same results, just another format)
df.groupby('department_id')['order_sequence_per_user'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_sequence_per_user, dtype: float64

In [20]:
# perfoming multiple statistics at the same time)
df.groupby('department_id').agg({'order_sequence_per_user': ['mean', 'min', 'max']})

              order_sequence_per_user
                                 mean min max
department_id
1                           14.800024   1  99
2                           17.091743   1  98
3                           17.913544   1  99
4                           17.893092   1  99
5                           15.214270   1  99
6                           15.382135   1  99
7                           17.694027   1  99
8                           16.458105   1  91
9                           15.957363   1  99
10                          20.091818   1  99
11                          16.482026   1  99
12                          15.615061   1  99
13                          16.484023   1  99
14                          17.524632   1  99
15                          15.691875   1  99
16                          18.014071   1  99
17                          16.150593   1  99
18                          19.602850   1  99
19                          17.631340   1  99
20                          17.138607   1  99
21                          21.956893   1  97

In [24]:
# first and second steps on creating a flad with transformation. 
# Creating new column, grouping by iser_id and,  
# then transforming using order_sequence_per_user (max number of the order to be put in all rows of each user_id)
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_sequence_per_user'].transform(np.max)

C:\Users\gabri\AppData\Local\Temp\ipykernel_5652\1398574361.py:4: FutureWarning: The provided callable <function max at 0x000001BFECE6EFC0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_sequence_per_user'].transform(np.max)

In [28]:
# checking new column creation
ords_prods_merge.head(15)

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_periods_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders,10
6,2398795,1,2,3,7,15.0,False,10258,2,0,Pistachios,117,19,3.0,both,Low-range product,Least busy,Average orders,10
7,2398795,1,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Average orders,10
8,2398795,1,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Least busy,Average orders,10
9,2398795,1,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Least busy,Average orders,10
10,2398795,1,2,3,7,15.0,False,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Least busy,Average orders,10
11,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders,10
12,473747,1,3,3,12,21.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Average orders,10
13,473747,1,3,3,12,21.0,False,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Least busy,Average orders,10
14,473747,1,3,3,12,21.0,False,25133,4,0,Organic String Cheese,21,16,8.6,both,Mid-range product,Least busy,Average orders,10

In [ ]:
# checking new column creation
ords_prods_merge.head(100)

In [32]:
# taking away the limit for showing max rows so it shows the literal amount of row I call.
pd.options.display.max_rows = None

In [ ]:
# checking new column creation - to clear after running: EDIT -> clear cell output
ords_prods_merge.head(100)

In [33]:
# creating logic for loyalty flag using .loc - Part I
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [34]:
# creating logic for loyalty flag using .loc - Part II
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [35]:
# creating logic for loyalty flag using .loc - Part III
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [37]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [ ]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_sequence_per_user']].head(60)

# 04. Task

In [40]:
# Step 2 - add mean for the entire ords_prods_merge dataframe
ords_prods_merge.groupby('department_id')['order_sequence_per_user'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_sequence_per_user, dtype: float64

### Step 3 - There were variations on the average in all lines, but nothing major - the difference was around one for more or less

### Step 4 - Done during exercise, as original import was the one from 4.7

In [41]:
ords_prods_merge.head(5)

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_periods_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders,10,New customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders,10,New customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders,10,New customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders,10,New customer

In [42]:
# step 5 - Basic statistic per Loyalty cateogry
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer     9.579347  1.0  14900.0
New customer      10.059889  1.0  14900.0
Regular customer   9.894698  1.0  14900.0

### Step 5 - there is no real difference on the spending habits of custumers with different loyalty categories

In [46]:
# Step 6 - creating the new column "average_spending" with .transform()
ords_prods_merge['average_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\gabri\AppData\Local\Temp\ipykernel_5652\3269722100.py:2: FutureWarning: The provided callable <function mean at 0x000001BFECE6F9C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [67]:
ords_prods_merge[['user_id', 'average_spending']].head(100)

    user_id  average_spending
0         1          6.367797
1         1          6.367797
2         1          6.367797
3         1          6.367797
4         1          6.367797
5         1          6.367797
6         1          6.367797
7         1          6.367797
8         1          6.367797
9         1          6.367797
10        1          6.367797
11        1          6.367797
12        1          6.367797
13        1          6.367797
14        1          6.367797
15        1          6.367797
16        1          6.367797
17        1          6.367797
18        1          6.367797
19        1          6.367797
20        1          6.367797
21        1          6.367797
22        1          6.367797
23        1          6.367797
24        1          6.367797
25        1          6.367797
26        1          6.367797
27        1          6.367797
28        1          6.367797
29        1          6.367797
30        1          6.367797
31        1          6.367797
32        1          6.367797
33        1          6.367797
34        1          6.367797
35        1          6.367797
36        1          6.367797
37        1          6.367797
38        1          6.367797
39        1          6.367797
40        1          6.367797
41        1          6.367797
42        1          6.367797
43        1          6.367797
44        1          6.367797
45        1          6.367797
46        1          6.367797
47        1          6.367797
48        1          6.367797
49        1          6.367797
50        1          6.367797
51        1          6.367797
52        1          6.367797
53        1          6.367797
54        1          6.367797
55        1          6.367797
56        1          6.367797
57        1          6.367797
58        1          6.367797
59        2          7.515897
60        2          7.515897
61        2          7.515897
62        2          7.515897
63        2          7.515897
64        2          7.515897
65        2          7.515897
66        2          7.515897
67        2          7.515897
68        2          7.515897
69        2          7.515897
70        2          7.515897
71        2          7.515897
72        2          7.515897
73        2          7.515897
74        2          7.515897
75        2          7.515897
76        2          7.515897
77        2          7.515897
78        2          7.515897
79        2          7.515897
80        2          7.515897
81        2          7.515897
82        2          7.515897
83        2          7.515897
84        2          7.515897
85        2          7.515897
86        2          7.515897
87        2          7.515897
88        2          7.515897
89        2          7.515897
90        2          7.515897
91        2          7.515897
92        2          7.515897
93        2          7.515897
94        2          7.515897
95        2          7.515897
96        2          7.515897
97        2          7.515897
98        2          7.515897
99        2          7.515897

In [68]:
# Step 6 - creating spending flags based on user_id and average spending - Part I
ords_prods_merge.loc[ords_prods_merge['average_spending'] < 10, 'type_of_spender'] = 'Low spender'

In [69]:
# Step 6 - creating spending flags based on user_id and average spending - Part II
ords_prods_merge.loc[ords_prods_merge['average_spending'] >= 10, 'type_of_spender'] = 'High spender'

In [70]:
# Step 6 - frequency check for new column type_of_spender
ords_prods_merge['type_of_spender'].value_counts(dropna = False)

type_of_spender
Low spender     31828060
High spender      576799
Name: count, dtype: int64

In [ ]:
ords_prods_merge[['user_id', 'type_of_spender']].head(100)

In [62]:
# Step 7 - creating the new column "median_days_prior_orders" with .transform()
ords_prods_merge['median_days_prior_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\gabri\AppData\Local\Temp\ipykernel_5652\1058407056.py:2: FutureWarning: The provided callable <function median at 0x000001BFECFA2AC0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_prior_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [ ]:
ords_prods_merge[['user_id', 'median_days_prior_orders']].head(100)

In [72]:
# Step 7 - creating frequent customer flag based on user_id and median_days_prior_orders - Part I
ords_prods_merge.loc[ords_prods_merge['median_days_prior_orders'] > 20, 'frequent_customer'] = 'Non-frequent customer'

In [73]:
# Step 7 - creating frequent customer flag based on user_id and median_days_prior_orders - Part II
ords_prods_merge.loc[(ords_prods_merge['median_days_prior_orders'] > 10) & (ords_prods_merge['median_days_prior_orders'] <= 20), 'frequent_customer'] = 'Regular customer'

In [74]:
# Step 7 - creating frequent customer flag based on user_id and median_days_prior_orders - Part III
ords_prods_merge.loc[ords_prods_merge['median_days_prior_orders'] <= 10, 'frequent_customer'] = 'Frequent customer'

In [ ]:
ords_prods_merge[['user_id', 'frequent_customer', 'type_of_spender']].head(100)

In [77]:
# Step 7 - frequency check for new column 'frequent_customer'
ords_prods_merge['frequent_customer'].value_counts(dropna = False)

frequent_customer
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [81]:
# checking which rows have NaN - All are new customers that only did 1 order, so it is correct
ords_prods_merge[ords_prods_merge['frequent_customer'].isna()]

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_days,busiest_periods_of_day,max_order,loyalty_flag,average_spending,type_of_spender,median_days_prior_orders,frequent_customer
25156870,895835,159838,1,0,17,NaN,True,22198,1,0,...,both,Low-range product,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25156871,895835,159838,1,0,17,NaN,True,23695,2,0,...,both,Low-range product,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25156872,895835,159838,1,0,17,NaN,True,10749,3,0,...,both,Mid-range product,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25156873,895835,159838,1,0,17,NaN,True,21334,5,0,...,both,Mid-range product,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25156874,895835,159838,1,0,17,NaN,True,33401,6,0,...,both,Mid-range product,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN

### Step 7 - In real life I would have added this to the .loc lines and run it, but I decided against it here in the exercise because I`m not sure how this would impact the rest of the tasks
ords_prods_merge.loc[ords_prods_merge['median_days_prior_orders'].isna(), 'frequent_customer'] = 'New_customer'

## Extra steps - check if downcasting of columns is necessary. I decided it should be ok

In [84]:
ords_prods_merge.dtypes

order_id                       int32
user_id                        int32
order_sequence_per_user        int32
orders_day_of_week              int8
order_hour_of_day               int8
days_since_prior_order       float32
new_customer                    bool
product_id                     int32
add_to_cart_order              int32
reordered                       int8
product_name                  object
aisle_id                       int32
department_id                  int32
prices                       float32
_merge                      category
price_range_loc               object
busiest_days                  object
busiest_periods_of_day        object
max_order                      int32
loyalty_flag                  object
average_spending             float32
type_of_spender               object
median_days_prior_orders     float32
frequent_customer             object
dtype: object

In [86]:
ords_prods_merge.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_days,busiest_periods_of_day,max_order,loyalty_flag,average_spending,type_of_spender,median_days_prior_orders,frequent_customer
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [87]:
# export the dataset with corrected price for 33664
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4_8_orders_prior_products_merge_downcasted_derived_correted.pkl'))