# TABLE OF CONTENTS
### 01. Importing Libraries
### 02. Importing data
### 03. Merging
### 04. Exporting merged final dataset

# 01. Importing libraries

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import scipy

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/instacart/customers_checked.pkl
/kaggle/input/instacart/4_9_ords_prods_ready_for_merge.pkl

# 02. Importing data

In [2]:
# import customers dataframe
customers = pd.read_pickle('/kaggle/input/instacart/customers_checked.pkl')

In [3]:
# import ords_prods dataframe
ords_prods = pd.read_pickle('/kaggle/input/instacart/4_9_ords_prods_ready_for_merge.pkl')

In [4]:
# dataframe import check
ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_days,busiest_periods_of_day,max_order,loyalty_flag,average_spending,type_of_spender,median_days_prior_orders,frequent_customer
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,12.5,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,4.4,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,4.7,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,1.0,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [5]:
# dataframe import check
ords_prods['prices'].max()

25.0

In [6]:
# dataframe import check
ords_prods.columns

Index(['order_id', 'user_id', 'order_sequence_per_user', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc',
       'busiest_days', 'busiest_periods_of_day', 'max_order', 'loyalty_flag',
       'average_spending', 'type_of_spender', 'median_days_prior_orders',
       'frequent_customer'],
      dtype='object')

In [7]:
#dataframe import check
ords_prods.shape

(32404859, 23)

In [8]:
# dataframe import check
customers.head()

,user_id,first_name,last_name,gender,us_state,age,date_joined,num_of_dependants,marital_status,yearly_income
0,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,2017-01-01,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,2017-01-01,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,2017-01-01,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,2017-01-01,1,married,40374

In [9]:
# dataframe import check
customers.shape

(206209, 10)

In [10]:
# dataframe import check
customers.dtypes

user_id                      int32
first_name                  object
last_name                   object
gender                      object
us_state                    object
age                           int8
date_joined          datetime64[s]
num_of_dependants             int8
marital_status              object
yearly_income                int32
dtype: object

# 03. Merging

In [11]:
# check if key has the same distinct count in both dataframes
customers['user_id'].nunique()

206209

In [12]:
# check if key has the same distinct count in both dataframes
ords_prods['user_id'].nunique()

206209

In [13]:
# merge can be done in default inner join, as distinct count in the key column is the same in both datasets
ords_prods_all = ords_prods.merge(customers, on = 'user_id', indicator = True)

In [14]:
# check the merge
ords_prods_all.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,first_name,last_name,gender,us_state,age,date_joined,num_of_dependants,marital_status,yearly_income,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both

In [15]:
ords_prods_all.shape

(32404859, 33)

In [16]:
# check if merge was done properly from both dataframes
ords_prods_all['_merge'].nunique()

1

In [17]:
# dropping unecessary columns _merge
ords_prods_all = ords_prods_all.drop(columns = ['_merge'])

In [18]:
ords_prods_all.shape

(32404859, 32)

## Checks done after merge: _merge column checked and dropped, total of columns as it should, number os rows as it should. Successful merge completed

# 04. Exporting merged final dataset

In [19]:
# export ords_prods_all to pickle
ords_prods_all.to_pickle('orders_products_all.pkl')