# TABLE OF CONTENTS
### 01. Importing Libraries
### 02. Importing data
### 03. Counts for Exercise

# 01. Import Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
path = r'C:\Users\gabri\OneDrive\Desktop\CF Data Analysys Course\Data Analytics Immersion\A4 Achivement\Instacart Basket Analysis'

In [3]:
# 4.9 exported
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4_8_orders_prior_products_merge_downcasted_derived_correted.pkl'))

# 03. Counts for Exercise

In [ ]:
df_ords_prods['loyalty_flag'].value_counts(dropna = False)

In [7]:
df_ords_prods.groupby(['loyalty_flag']).user_id.nunique()

loyalty_flag
Loyal customer       17017
New customer        112328
Regular customer     76864
Name: user_id, dtype: int64

In [8]:
df_ords_prods['type_of_spender'].value_counts(dropna = False)

type_of_spender
Low spender     31828060
High spender      576799
Name: count, dtype: int64

In [9]:
df_ords_prods.groupby(['type_of_spender']).user_id.nunique()

type_of_spender
High spender      5092
Low spender     201117
Name: user_id, dtype: int64

In [10]:
df_ords_prods['frequent_customer'].value_counts(dropna = False)

frequent_customer
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [11]:
df_ords_prods.groupby(['frequent_customer']).user_id.nunique()

frequent_customer
Frequent customer        86596
Non-frequent customer    59619
Regular customer         59993
Name: user_id, dtype: int64

In [20]:
df_ords_prods['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21861558
Low-range product     10126321
High-range product      416980
Name: count, dtype: int64

In [21]:
df_ords_prods.groupby(['price_range_loc']).product_id.nunique()

price_range_loc
High-range product      546
Low-range product     16291
Mid-range product     32823
Name: product_id, dtype: int64

In [23]:
df_ords_prods['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

In [26]:
df_ords_prods.groupby('busiest_days')['orders_day_of_week'].unique()

busiest_days
Busiest day          [1, 0]
Least busy           [3, 4]
Regularly busy    [2, 5, 6]
Name: orders_day_of_week, dtype: object

In [24]:
df_ords_prods.head()

,order_id,user_id,order_sequence_per_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_days,busiest_periods_of_day,max_order,loyalty_flag,average_spending,type_of_spender,median_days_prior_orders,frequent_customer
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [27]:
df_ords_prods['busiest_periods_of_day'].value_counts(dropna = False)

busiest_periods_of_day
Average orders    18517166
Most orders       13510134
Fewest orders       377559
Name: count, dtype: int64

In [31]:
df_ords_prods.groupby('busiest_periods_of_day')['order_hour_of_day'].unique()

busiest_periods_of_day
Average orders    [8, 7, 12, 9, 16, 19, 18, 17, 20, 0, 21, 22, 2...
Fewest orders                                       [5, 4, 1, 2, 3]
Most orders                                    [15, 14, 11, 10, 13]
Name: order_hour_of_day, dtype: object

In [29]:
df_ords_prods.groupby(['busiest_periods_of_day']).order_hour_of_day.nunique()

busiest_periods_of_day
Average orders    14
Fewest orders      5
Most orders        5
Name: order_hour_of_day, dtype: int64